<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Food Delivery</title>
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <ul class="nav nav-pills">
                <li>
                    <a href="/fooddelivery/products" class="nav-link">Sản phẩm</a>
                </li>
                <li>
                    <a href="/fooddelivery/category" class="nav-link">Danh mục</a>
                </li>
                <li><a href="/fooddelivery/shop" class="nav-link active">Cửa hàng</a></li>
                <li><a href="#" class="nav-link">Đăng xuất</a></li>
            </ul>
        </header>
    </div>
    <div>
        <div class="container">
            <h1 class="text-center p-3">CỬA HÀNG</h1>
            <a href="shop/create" class="btn btn-success btn-lg">Thêm cửa hàng</a>
            <div class="table-responsive">
                <table class="table table-strip">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="shop : ${shops}">
                            <td th:text="${shop.shop_id}"></td>
                            <td th:text="${shop.name}"></td>
                            <td th:text="${shop.address}"></td>
                            <td><img th:src="${shop.imageURL}" width="200" height="200"></td>
                            <td>
                                <a th:href="@{shop/edit/{id}(id=${shop.shop_id})}">
                                    <button>Sửa</button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{shop/destroy/{id}(id=${shop.shop_id})}">
                                    <button>Xóa</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>